@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body {
    font-family:'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: #070606;
}

body {
    background-image: linear-gradient( to bottom right, rgb(6, 116, 103),rgb(3, 24, 24));
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
}

.theme-toggler {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #0c0a0a;
    cursor: pointer;
    z-index: 1;
}

.theme-toggler.active {
    color: #131313;
}

.theme-toggler.active::before {
    background-color: #d5d3d3;
}

.theme-toggler::before {
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #000000;
    z-index: -1;
}

#display {
    margin: 0 10px;
    height: 160px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 50px;
    margin-bottom: 20px;
    overflow-x: scroll;
  }

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 25px;
    margin: 5px;
    font-size: 22px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.1);
}

button#equal {
    height: 130px;
}

/* light theme */

.calculator {
    background-color: #fff;
}

.calculator #display {
    color: #000000;
}

.calculator button#Allclear {
    background-color: #41aa5a;
    color: #000000;
}

.calculator button.btn-num {
    background-color: #78b2e7;
    color: #000000;
    ;
}

.calculator button.operator-btn {
    background-color: #f3934e;
    color: #000000;
  }
  
  .calculator button.btn-equal {
    background-color: #41aa5a;
    color: #000000;
  }

  /* dark theme */

  .calculator.dark {
    background-color: #000000;
  }

  .calculator.dark #display {
    color: #ffffff;
  }

  .calculator.dark button#Allclear {
    background-color: #543d8a;
    color: #ffffff;
  }

  .calculator.dark button.btn-num {
    background-color: #4c4d4c;
    color: #ffffff;
  }

  .calculator.dark button.operator-btn {
    background-color: #2fb3df;
    color: #ffffff;
  }
  
  .calculator.dark button.btn-equal {
    background-color: #543d8a;
    color: #fbf8fa;
  }
  